.link {

        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #212121;
    }
