.features {

&__list {
    
    }

&__item {
    @include max-tablet {
        text-align: center;
    }

    @include min-tablet {
        width: 354px;
    }
    @include min-desktop {
        width: 270px;
    }
}

&__thumb {
    padding: 25px 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    background-color: #F5F4FA;
}

&__subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.2;
}

&__label {
    line-height: 1.8;
    color: $labelColor;
}


}