.header {
    border-bottom: 1px solid #ECECEC;
    position: relative;
    
    align-items: center;
    display: flex;
    @include max-tablet {
        height: 60px;
    }

}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 88px;
    
        
    
    
    @include min-desktop {
        gap: 93px;
    }
    
    
}
.cross {
    display: none;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: end;

    @include min-tablet {
        justify-content: center;
        width: 100%;
    }

   
    &__container {
        @include max-tablet {
            display: none; 
        }

        width: 100%;
        display: flex;
        justify-content: space-between;
        
        &.is-open {
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            padding: 48px 40px;
            z-index: 5;
            background-color: $simpleColor;

            @include min-mobile {
                left: 50%;
                transform: translateX(-50%);
                width: 480px;
            }
           
    
             .cross {
                display: block;
                position: absolute;
                top: 21px;
                right: 25px;
    
                &:hover {
                    fill: $accentColor;
                }
    
            }
             .burger {
                display: none;
            }
        }
       
        
    }
    

    &__button {
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        @include min-tablet {
            display: none;
        }
    
    }

    &__list {
        @include min-desktop {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        @include min-max-desktop {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }
    }

    &__item {
        @include max-tablet {
            margin-bottom: 32px;
        }
        &:first-child {
            @include max-desktop {
                margin-bottom: 10px;
            }
            @include min-desktop {
                margin-right: 30px;
            }
        }
       


    }

    &__link {
        font-size: 12px;
        line-height: 1.2;
        display:flex;
        color: $labelColor;

        &:hover,
        &:focus {
                color: $accentColor;
            }


            &:hover .menu__icon,
            &:focus .menu__icon {
                fill:currentColor;
            }

            @include max-tablet {
            font-size: 24px;
        &--current {
            font-size: 34px;
            color: $accentColor;
            }
        }
        @include max-desktop {
            align-items: center;
            transition: color $time $speed;
        }
        @include min-desktop {
            font-size: 14px;
            align-items: center;
        }
    }

    &__icon {
        @include max-tablet {
            display: none;
        }
        transition: fill $time $speed;
        margin-right: 10px;
        fill: currentColor;
    }

}

.nav {
        flex-grow: 2;
        
    &__list {
        @include min-tablet {
            display:flex ;
            }
    
    }

    &__item {
        @include max-tablet {
        margin-bottom: 32px;
        }
    
        &:not(:last-child) {
            margin-right: 50px;
        }    

    }
    &__link {
        display: block;
        @include min-tablet {
        padding: 30px 0;
        }
        transition: color $time $speed;
            &:hover,
            &:focus {
                color: $accentColor;
            }

            @include max-tablet {
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 40px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            

            
        }

        &--current {
            color: $accentColor;
            @include min-tablet {

                position: relative;
                transition: color $time $speed;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transform: translateY(1px);
                    width: 100%;
                    height: 4px;
                    background-color: $accentColor;
                    border-radius: 2px;
                }

            &:hover,
            &:focus {
                color: $subAccentColor;
            }
            }
        }
    
    }
}

.soc {
    margin-top: 64px;

    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__link {
        color: $accentColor;
    }
    @include min-tablet {
        display: none;
    }
}
