.hero {
    background-color: $bgColor;
    background-image: $gradient, url(../images/hero/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;

    @include retina {
        .hero {
            background-image: url(../images/hero/hero@2x.jpg);
        }
    }

    @include max-desktop {
        max-width: 768px;
        background-image: $gradient, url(../images/hero/hero-tab.jpg);
        @include retina {
            .hero {
                background-image: $gradient, url(../images/hero/hero-tab@2x.jpg);
            }
        }
    }

    @include max-tablet {
        max-width: 480px;
        width: 100%;
        background-image: $gradient, url(../images/hero/hero-mob.jpg);
        @include retina {
            .hero {
                background-image: $gradient, url(../images/hero/hero-mob@2x.jpg);
            }
        }
       
    }
   
    &__container {

        padding-top: 118px;
        padding-bottom: 118px;

    }

    &__title {
        text-align: center;
        color: $simpleColor;
        max-width: 696px;
        margin: 0 auto;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;

        @include max-desktop {
            max-width: 360px;
            line-height:1.61;
            font-size: 26px;
            }
        }
    &__btn {
        margin: 0 auto;
        padding: 10px 24px;

    }
}

